body{
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
}

.flexible-container{
  display: flex;
}

.big-part{
  width: 60%;
  padding-left: 3%;
  margin-top: 90px;
}

.small-part{
  width: 40%;
}

.big-part p{
  width: 80%;
  text-align: justify;
}

.big-part h1{
  font-size: 40px;
}

.small-part img{
  width: 100%;
}

.orange-color{
  color: orange;
}

.link-button{
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 8px 15px;
  border-radius: 30px;
  color: antiquewhite;
}

.second-portion{
  display: flex;
  margin-top: 35px;
  background-image: url(images/7.png);
  background-repeat: no-repeat;
}

.first{
  width: 40%;
  padding-top: 25px;
  padding-left: 10%;
}

.second{
  width: 60%;
  margin-top: 90px;
}

.first img{
  width: 60%;
}

.second p{
  width: 90%;
  text-align: justify;
}

.second h2{
  font-size: 30px;
}

/**----recipies----**/

.recipies-part{
  margin-top: 50px;
  margin-bottom: 80px;
}


.description h3{
  text-align: center;
  font-size: 25px;
  color: rgb(48, 47, 47);
}

.description{
  margin-bottom: 50px;
}

.description p{
  text-align: center;
}


.flex-container{
  display: flex;
  width: 90%;
  margin: 0 auto;
}


.flex-item{
  width: 40%;
  border-radius: 15px;
  box-shadow: 10px 10px 15px grey;
}

.flex-item p{
  text-align: justify;
}

.item1{
  margin-right: 30px;
  margin-left: 85px;
  padding: 15px;
}

.item2{
  padding: 15px;
}

.flex-item img{
  width: 100%;
}

/**-----youtube, dribble etc-***/

.youtube-sub{
  display: flex;
  border-radius: 5px;
  box-shadow: 10px 10px 15px grey;
  width: 75%;
  margin: 0 auto;
}

.youtube{
  width: 90%;
  padding-left: 80px;
  padding-bottom: 20px;
}

.instagram{
  width: 90%;
  padding-left: 80px;
  padding-bottom: 20px;
}

.dribble{
  width: 90%;
  padding-left: 80px;
  padding-bottom: 20px;
}

/**----footer--**/
.black-yellow{
  background-color: black;
  margin-top: 80px;
}

.black-yellow h4{
  text-align: center;
  color: azure;
  padding-top: 15px;
}

.black-yellow h4 span{
  color: orange;
}

.black-yellow p{
  text-align: center;
  color: azure;
  padding-bottom: 40px;
}